# =========================
# Node.js
# =========================
node_modules/
# =========================
# Build Output
# =========================
dist/
build/
# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example
/src/generated/prisma
